@{
    Layout = "_SignInLayout";
}

<h1 class="error">成功 <strong></strong></h1>
<form action="@Url.Action("ReLogin","Cards")">
    <div class="controls">
        <button class="btn btn-greensea"><i class="fa fa-home"></i>返回主页</button>
    </div>
</form>