@{
    Layout = "_SignInLayout";

    ViewData["Title"] = "Home Page";
}
<form name="form1" class="form-horizontal" role="form" method="post" action="@Url.Action("Verify","Cards")" onSubmit="return beforeSubmit(this);">
    <div class="form-group">
        <label for="colorpicker-rgb" class="col-sm-4 control-label">密码</label>
        <div class="col-sm-8">
            <input type="password" class="form-control colorpicker-element" id="colorpicker-rgb" name="Password" value="">
        </div>
    </div>
    <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-greensea">提交</button>
        <button type="reset" class="btn btn-red">重新输入</button>
    </div>
</form>
<script type="text/javascript">
    function beforeSubmit(form) {
        if (form.Cpassword.value == '') {
            alert('密码不能为空！');
            form.Upassword.focus();
            return false;
        }
    }
</script>
