@{
    Layout = "_SigninLayout";
}

<h1 class="error">错误 <strong></strong></h1>
<h2 class="error"> <strong>请检查您的密码或学号是否正确？</strong></h2>
<form action="@Url.Action("Index","Home")">
    <div class="controls">
        <button class="btn btn-greensea"><i class="fa fa-home"></i>重新登录</button>
    </div>
</form>



