@using JMWeb04.Model.JMdataSql;

<!DOCTYPE html>
<html>
<head>
    <title>银行储蓄系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <link rel="icon" type="image/ico" href="http://tattek.com/minimal/assets/images/favicon.ico" />
    <link href="~/assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap-checkbox.css">
    <link href="~/assets/css/minimal.css" rel="stylesheet">
</head>

<body class="bg-6">
    <div id="wrap">
        <div class="row">
            <div id="content" class="col-md-12 full-page login">
                <div class="inside-block">
                    <img src="~/assets/images/logo-big.png" alt class="logo">
                    <h1><strong>Hello！！！</strong> 牛叉的陌生人</h1>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>

