@{
    Layout = "_StudentLayout";
    ViewData["Title"] = "Home Page";
    var user = Model;
}
<div class="jumbotron bg-transparent-black-3">
    <div class="container text-center">
        <h2>您好!@user.Name</h2>
    </div>
</div>
<section class="tile transparent">
    <div class="tile-header transparent">
        <h1><strong>学生成绩表</strong></h1>
        <div class="controls">
            <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
            <a href="#" class="remove"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="tile-body color transparent-black rounded-corners">
        <div class="row cards">
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-redbrown hover">
                    <div class="front">

                        <div class="media">
                            <span class="pull-left">
                                <i class="fa fa-users media-object"></i>
                            </span>
                            <div class="media-body">
                                <h1><strong>数学</strong></h1>
                                <h2 class="media-heading animate-number" data-value="86" data-animation-duration="1500">86</h2>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <a href="#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>好成绩</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-blue hover">
                    <div class="front">

                        <div class="media">
                            <span class="pull-left">
                                <i class="fa fa-shopping-cart media-object"></i>
                            </span>
                            <div class="media-body">
                                <h1><strong>英语</strong></h1>
                                <h2 class="media-heading animate-number" data-value="52" data-animation-duration="1500">52</h2>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <a href="#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>成绩不行</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-greensea hover">
                    <div class="front">

                        <div class="media">
                            <span class="pull-left">
                                <i class="fa fa-usd media-object"></i>
                            </span>
                            <div class="media-body">
                                <h1><strong>物理</strong></h1>
                                <h2 class="media-heading animate-number" data-value="77" data-animation-duration="1500">77</h2>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <a href="#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>还不赖</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-slategray hover">
                    <div class="front">
                        <div class="media">
                            <span class="pull-left">
                                <i class="fa fa-eye media-object"></i>
                            </span>
                            <div class="media-body">
                                <h1><strong>数据结构</strong></h1>
                                <h2 class="media-heading animate-number" data-value="92" data-animation-duration="1500">92</h2>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <a href="#">
                            <i class="fa fa-bar-chart-o fa-4x"></i>
                            <span>干的漂亮</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>