@{
    Layout = "_SignInLayout";
}

<h1 class="error">错误 <strong></strong></h1>
<h2 class="error"> <strong>请检查您的账号或密码是否正确？</strong></h2>
<form action="@Url.Action("VerifyPassword","Cards")">
    <div class="controls">
        <button class="btn btn-greensea"><i class="fa fa-home"></i>重新输入密码</button>
    </div>
</form>