
@{
    Layout = "_DepositorsPageLayout";

    ViewData["Title"] = "Home Page";

    var user = Model;
}
<div class="jumbotron bg-transparent-black-3">

    <div class="container text-center">
        <h2>您好!@user.Dname</h2>
    </div>
</div>
