@{
    Layout = "_SignInLayout";

    ViewData["Title"] = "Home Page";

    //var user = Model;
}
<form name="form1" class="form-horizontal" role="form" method="post" action="@Url.Action("UpdataBand","Depositors")" onSubmit="return beforeSubmit(this);">
    <div class="form-group">
        <label for="YourName" class="col-sm-4 control-label">卡号</label>
        <div class="col-sm-8">
            <input type="text" class="form-control colorpicker-element" id="colorpicker" name="Dcid" value="">
        </div>
    </div>
    <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-greensea">提交</button>
        <button type="reset" class="btn btn-red">重新输入</button>
    </div>
</form>
<script type="text/javascript">
    function beforeSubmit(form) {
        if (form.Ucid.value == '') {
            alert('输入的卡号不能为空！');
            form.Ucid.focus();
            return false;
        }
    }
</script>
