@{
    Layout = "_SignInLayout";
}
<form action="@Url.Action("SignIn","Home")" method="post">
    <section>
        <div class="input-group">
            <input type="text" class="form-control" name="Id" placeholder="您的账号">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group">
            <input type="password" class="form-control" name="Password" placeholder="您的密码">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
        </div>
        @*身份分类*@
        <input type="radio" name="Identity" value="储户">储户
        <input type="radio" name="Identity" value="cards">银行卡
        <input type="radio" name="Identity" value="管理员">管理员
        <input type="radio" name="Identity" value="行长">行长
    </section>
    <section class="log-in">
        <button class="btn btn-greensea" type="submit">登录</button>
        <span>or</span>
        <button class="btn btn-slategray" type="button" onclick="show()">创建账户</button>
    </section>
</form>
<script type="text/javascript">
    function show(){
        var url = '@Url.Action("Add", "Users")';
        location.href = url;
        //window.open(url);
    }
</script>
